@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display:flex;
    justify-content:center;
    text-align:center;
    min-height:100vh;
    background-color:#03a9f4;
    transition: 0.5s;
}
.container{
    position:relative;
    height:800px;
    width:500px;
    margin:20px;
    /* border:1px solid #fff; */
}
.blueBg{
    position:absolute;
    top:40px;
    width:100%;
    height: 420px;
    display:flex;
    justify-content:center;
    text-align:center;
    background-color:rgba(255,255,255,0.2);
    box-shadow:0 5px 45px rgba(0,0,0,0.15);
    
}
.blueBg .box{
    position:relative;
    border:1px solid #fff;
    width:50%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.blueBg h2{
    color:#fff;
}